.img {
    height: 80vh;
    max-width: 100vw;
    width: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.owner_random_fox {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.btn {
    margin: 20px 0;
    max-width: 200px;
    width: 100%
}